<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      <img class="img-responsive" src="../../../../../../assets/images/icons/perficon.png">
    </mat-toolbar>
    <div class="span-usuario">
      <span>
        AMILCAR CHAVEZ
        <br>
        (USUARIO)
      </span>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active-list-item" [ngClass]="{'selected':showSubmenu1}"
        (click)="showSubmenu1 = !showSubmenu1">
        <mat-icon>assignment</mat-icon> Bienes patrimoniales
        <span class="spacer"></span>
        <mat-icon>expand_more</mat-icon>
      </a>
      <div *ngIf="showSubmenu1">
        <a mat-list-item [routerLink]="['/intranet/home']" routerLinkActive="active-list-item"
          [ngStyle]="{'padding-left': '20px'}">
          <span class="child-link"></span>
          Vehiculos
        </a>
        <a mat-list-item [routerLink]="['/intranet/generador']" routerLinkActive="active-list-item"
          [ngStyle]="{'padding-left': '20px'}">
          <span class="child-link"></span>
          Generadores electricos
        </a>
        <a mat-list-item [routerLink]="['/intranet/deslizador']" routerLinkActive="active-list-item"
          [ngStyle]="{'padding-left': '20px'}">
          <span class="child-link"></span>
          Deslizadores
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>siadi-pos</span>

      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="usuario">
        {{getUser.usuario}}
        <!-- <span>(Jefe Unidad Territorial)</span> -->
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #usuario="matMenu" xPosition="after" [overlapTrigger]="false">
        <button mat-menu-item (click)="salir()">Salir</button>
      </mat-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>