.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 220px;
  background-color: rgb(42, 63, 84);
}

.sidenav > .mat-toolbar {
  background-color: rgb(42, 63, 84);
}

.mat-list-item {
  color: white;
}

.sidenav > .mat-nav-list > a:hover {
  /* background-color: rgb(53, 73, 93); */
  background-color: rgb(66, 86, 104);
}

.active-list-item {
  /* background-color: rgb(53, 73, 93) !important; Note: You could also use a custom theme */
  background-color: rgb(66, 86, 104) !important;
}

.span-usuario {
  width: 220px;
  height: auto;
  color: white;
  font-size: 15px;
  text-align: center;
  padding: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.mat-toolbar {
  height: 58px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.img-responsive {
  max-width: 190px; 
  height: 56px;
}

.mat-nav-list {
  padding-top: 0px;
}

mat-icon {
  margin-right: 5px;
}

/* :before {
  border-left: 1px solid #d11313;
} */

/* .child-link::before {
  background-color: red;
} */

.child-link {
  /* background: #425668; */
  background-color: #6f7f8e;
  content: "";
  height: 8px;
  width: 8px;
  z-index: 1;
  border-radius: 50%;
  margin-right: 10px;
}

.selected {
  border-top: 1px solid #546371;
  border-bottom: 1px solid #1f2f3f;
}
/* .selected div a{
  border-right: 5px solid #1abb9c;
} */
