.login-card {
    margin: 10% auto 0%;
    width: 300px;
    max-width: 300px;
    text-align: center;
    mat-card-header {
      mat-card-title {
        display: flex;
        font-size: 25px !important;
        justify-content: center !important;
      }
    }
    form {
      mat-grid-tile {
        button {
          width: 90%;
        }
      }
    }
  }
  
  .login-card-header-image {
    background-image: url("../../../../../assets/images/icons/icono-perficon.png");
    background-size: cover;
  }
  
  // .loginForm-container {
  //   display: flex;
  //   flex-direction: column;
  // }
  
  // .loginForm-container > * {
  //   width: 100%;
  // }
  
  // .checkbox {
  //   display: inline-flex;
  // }
  
  mat-checkbox {
    padding-left: 10px;
  }
  